@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* ###### Global ###### */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Out-Fit);
}

:root {

    /* ### Color ###*/
    --Black: #000;
    --White: #fff;
    --Color-1: #283F3B;
    --Color-2: #8BA27C;
    --Color-3: #E7F3DC;
    --Color-4: #CDCDCD;
    --Color-5: #F5F5F5;

    /* ### Font Size ### */
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-40: 40px;
    --fs-48: 48px;

    /* ### Font Weight ### */
    --fw-Black: 900;
    --fw-Bold: 700;
    --fw-Semi-Bold: 600;
    --fw-Medium: 500;
    --fw-Light: 300;
    --fw-Extra-Light: 200;
    --fw-Thin: 100;

    /* ### Font Family */
    --ff-Out-Fit: "Outfit", sans-serif;
}

/* ###### Body ###### */
body {
    color: var(--Color-1);
    padding: 110px 0 166px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

body.light_mode {
    background-color: var(--Color-1);
    color: var(--Color-1);

    button {
        background-color: var(--Color-1);
        color: var(--White);

        a {
            color: var(--White);
        }
    }

    button:hover {
        background-color: var(--Color-2);
    }

    button:focus {
        background-color: var(--White);
        border-color: var(--Color-1);
        color: var(--Color-1);

        a {
            color: var(--Color-1);
        }
    }

    nav {
        background-color: var(--Color-5);
        position: fixed;
        top: 0;

        a {
            color: var(--Color-1);
        }

        span {
            color: var(--Color-1);
        }

        .dropdown_content {
            border-color: var(--Color-1);
            background-color: var(--Color-4);
        }
    }

    footer {
        background-color: var(--White);
    }
}

/* ###### Dark Mode ###### */
body.dark_mode {
    background-color: var(--Black);
    color: var(--White);

    button {
        background-color: var(--White);
        color: var(--Color-1);

        a {
            color: var(--Color-1);
        }
    }

    button:hover {
        color: var(--Color-2);

        a {
            color: var(--Color-2);
        }
    }

    button:focus {
        background-color: var(--Color-1);
        border-color: var(--White);
        color: var(--White);

        a {
            color: var(--White);
        }
    }

    nav {
        background-color: var(--Color-1);

        a {
            color: var(--Color-4);
        }

        span {
            color: var(--Color-4);
        }

        .dropdown_content {
            border-color: var(--Color-4);
            background-color: var(--Color-1);
        }
    }

    footer {
        background-color: var(--Color-1);
    }
}

#registerForm {
    display: flex;
    flex-direction: column;
}

main {
    padding: 110px 0 166px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

a:hover{
    text-decoration: underline;
}