@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* ###### Global ###### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
    /* ### Color ###*/
    --Black: #000;
    --White: #fff;
    --Color-1: #283F3B;
    --Color-2: #8BA27C;
    --Color-3: #E7F3DC;
    --Color-4: #CDCDCD;
    --Color-5: #F5F5F5;

    /* ### Font Size ### */
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-40: 40px;
    --fs-48: 48px;

    /* ### Font Weight ### */
    --fw-Thin: 100;
    --fw-Extra-Light: 200;
    --fw-Light: 300;
    --fw-Medium: 500;
    --fw-Semi-Bold: 600;
    --fw-Bold: 700;
    --fw-Black: 900;

    /* ### Font Family */
    --ff-Out-Fit: "Outfit", sans-serif;
}

/* ###### Body ###### */
body{
    font-family: var(--ff-Out-Fit);
    color: var(--Color-1);

    a{
        color: var(--Color-1);
        text-decoration: none;
    }
    .header_1{
        font-size: var(--fs-30);
        font-weight: var(--fw-Black);
    }
    .header_2{
        font-size: var(--fs-28);
        font-weight: var(--fw-Bold);
    }
    .header_3{
        font-size: var(--fs-24);
        font-weight: var(--fw-Semi-Bold);
    }
    .header_4{
        font-size: var(--fs-16);
        font-weight: var(--fw-Medium);
    }
    .paragraph_1{
        font-size: var(--fs-16);
        font-weight: var(--fw-Light);
    }
    .paragraph_2{
        font-size: var(--fs-12);
        font-weight: var(--fw-Extra-Light);
    }
    .caption{
        font-size: var(--fs-10);
        font-weight: var(--fw-Thin);
    }
    button{
        padding: 8px 56px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color ease 500ms, border ease 500ms;
    }
    button:focus{
        border: 2px solid;
    }
}

/* ###### Light Mode ###### */
body.light_mode{
    background-color: var(--Color-1);
    color: var(--Color-1);

    button{
        background-color: var(--Color-1);
        color: var(--White);
    }
    button:hover{
        background-color: var(--Color-2);
    }
    button:focus{
        background-color: var(--White);
        border-color: var(--Color-1);
        color: var(--Color-1);
    }
    nav{
        background-color: var(--Color-5);
    
        a{
            color: var(--Color-1);
        }
        span{
            color: var(--Color-1);
        }
        .dropdown_content{
            border-color: var(--Color-1);
            background-color: var(--Color-4);
        }
    }
    main{
        .candidatures_tables{
            .top{
                .tops{
                    background-color: var(--White);
                }
            }
            .bot{
                background-color: var(--White);

                .container{
                    .fiches{
                        border-color: var(--Black);
                    }
                }
            }
        }
    }
    footer{
        background-color: var(--White);
    }
}

/* ###### Dark Mode ###### */
body.dark_mode{
    background-color: var(--Black);
    color: var(--White);

    button{
        background-color: var(--White);
        color: var(--Color-1);
    }
    button:hover{
        color: var(--Color-2);
    }
    button:focus{
        background-color: var(--Color-1);
        border-color: var(--White);
        color: var(--White);
    }
    nav{
        background-color: var(--Color-1);

        a{
            color: var(--Color-4);
        }
        span{
            color: var(--Color-4);
        }
        .dropdown_content{
            border-color: var(--Color-4);
            background-color: var(--Color-1);
        }
    }
    main{
        .candidatures_tables{
            .top{
                .tops{
                    background-color: var(--Color-1);
                }
            }
            .bot{
                background-color: var(--Color-1);

                .container{
                    .fiches{
                        border-color: var(--Color-2);
                    }
                }
            }
        }
    }
    footer{
        background-color: var(--Color-1);
    }
}


/* ###### Nav ###### */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: fixed;
    z-index: 50;
    box-shadow: 0 5px 10px #00000025;
    translate: 0 -150px;
    opacity: 0;
    transition: translate cubic-bezier(0, 0, 0, 1) 600ms, opacity cubic-bezier(0, 0, 0, 1) 600ms;

    h3{
        cursor: pointer;
        transition: color ease-out 300ms;
    }
    h3:hover{
        color: var(--Color-2);
    }
    .right{
        display: flex;
        gap: 16px;

        ion-icon{
            cursor: pointer;
            transition: color ease-out 300ms;
            font-size: 30px;
        }
        ion-icon:hover{
            color: var(--Color-2);
        }
    }
}

nav.view{
    translate: 0;
    opacity: 1;
}

/* ###### Main ###### */
main{
    padding: 110px 0 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .candidatures_tables{
        display: flex;
        flex-direction: column;
        opacity: 0;
        translate: 250px 0;
        transition: 500ms translate 600ms ease, 500ms opacity 600ms ease;
        width: 100%;
        
        .top{
            display: flex;
            overflow-y: hidden;
            
            .tops{
                padding: 12px 24px;
                border-radius: 16px 16px 0 0;
                cursor: pointer;
                transition: opacity ease 300ms;
            }
            .alternances, .emplois, .plus{
                opacity: 60%;
            }
            .alternances:hover, .emplois:hover, .plus:hover{
                opacity: 80%;
            }
        }
        .bot{
            padding: 32px;
            display: flex;
            justify-content: center;
            align-items: center;

            .container{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 24px;
                width: 100%;
                
                .fiches{
                    padding: 16px 24px;
                    width: 100%;
                    max-width: 530px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 16px;
                    gap: 25px;
                    border: 3px solid;
                    cursor: pointer;
                    transition: transform ease 500ms;

                    img{
                        width: 81px;
                        height: 81px;
                        border-radius: 50%;
                    }
                    .df{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        p:nth-child(3){
                            color: var(--Color-2);
                        }
                    }
                }
                .fiches:hover{
                    transform: translateY(-10px);
                }
                .button_container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 530px;
                    height: 141px;
                }
            }
        }
    }
    .candidatures_tables.view{
        translate: 0;
        opacity: 1;
    }
}

/* ###### Footer ###### */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 32px 0;

    .reseaux{
        display: flex;
        gap: 8px;

        ion-icon{
            font-size: 18px;
            cursor: pointer;
        }
    }
    .mention{
        display: flex;
        gap: 16px;
        
        h4{
            cursor: pointer;
        }
        h4:hover{
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 800px){
    
    /* ###### Body ###### */
    body{

        .header_1{
            font-size: var(--fs-39);
        }
        .header_2{
            font-size: var(--fs-34);
        }
        .header_3{
            font-size: var(--fs-28);
        }
        .header_4{
            font-size: var(--fs-20);
        }
        .paragraph_1{
            font-size: var(--fs-18);
        }
        .paragraph_2{
            font-size: var(--fs-14);
        }
        .caption{
            font-size: var(--fs-13);
        }
    }

    /* ###### Nav ###### */
    nav{
        padding: 16px 24px;
    }

    /* ###### Main ###### */
    main{
        padding: 115px 16px 48px 16px;

        .candidatures_tables{
            .bot{
                border-radius: 0 16px 16px 16px;
                .container{
                    .fiches{
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        padding: 32px 48px;
                    }
                }
            }
        }
    }

    /* ###### Footer ###### */
    footer{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 32px 24px;
        align-items: start;
    }
}

@media screen and (min-width: 1280px){
    
    /* ###### Body ###### */
    body{

        .header_1{
            font-size: var(--fs-48);
        }
        .header_2{
            font-size: var(--fs-40);
        }
        .header_3{
            font-size: var(--fs-32);
        }
        .header_4{
            font-size: var(--fs-24);
        }
        .paragraph_1{
            font-size: var(--fs-20);
        }
        .paragraph_2{
            font-size: var(--fs-16);
        }
        .caption{
            font-size: var(--fs-16);
        }
    }

    /* ###### Nav ###### */
    nav{
        padding: 16px 24px;
    }

    /* ###### Main ###### */
    main{
        padding: 115px 32px 48px 32px;
    }

    /* ###### Footer ###### */
    footer{
        padding: 32px;
    }
}