input {}

button {
    padding: 8px 56px;
    background-color: var(--Color-1);
    color: var(--White);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color ease 500ms, border ease 500ms;
}

button:hover {
    background-color: var(--Color-2);
}

button:active {
    background-color: var(--White);
    border: 2px solid var(--Color-1);
    color: var(--Color-1);
}

body {
    font-family: var(--ff-Out-Fit);
    color: var(--Color-1);
}