@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* ###### Global ###### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
    /* ### Color ###*/
    --Black: #000;
    --White: #fff;
    --Color-1: #283F3B;
    --Color-2: #8BA27C;
    --Color-3: #E7F3DC;
    --Color-4: #CDCDCD;
    --Color-5: #F5F5F5;

    /* ### Font Size ### */
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-40: 40px;
    --fs-48: 48px;

    /* ### Font Weight ### */
    --fw-Thin: 100;
    --fw-Extra-Light: 200;
    --fw-Light: 300;
    --fw-Medium: 500;
    --fw-Semi-Bold: 600;
    --fw-Bold: 700;
    --fw-Black: 900;

    /* ### Font Family */
    --ff-Out-Fit: "Outfit", sans-serif;
}

/* ###### Body ###### */
body{
    position: relative;
    font-family: var(--ff-Out-Fit);
    color: var(--Color-1);
    position: relative;

    a{
        color: var(--Color-1);
        text-decoration: none;
    }
    .header_1{
        font-size: var(--fs-30);
        font-weight: var(--fw-Black);
    }
    .header_2{
        font-size: var(--fs-28);
        font-weight: var(--fw-Bold);
    }
    .header_3{
        font-size: var(--fs-24);
        font-weight: var(--fw-Semi-Bold);
    }
    .header_4{
        font-size: var(--fs-16);
        font-weight: var(--fw-Medium);
    }
    .paragraph_1{
        font-size: var(--fs-16);
        font-weight: var(--fw-Light);
    }
    .paragraph_2{
        font-size: var(--fs-12);
        font-weight: var(--fw-Extra-Light);
    }
    .caption{
        font-size: var(--fs-10);
        font-weight: var(--fw-Thin);
    }
    button{
        padding: 8px 56px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color ease 500ms, border ease 500ms;
    }
    button:focus{
        border: 2px solid;
    }
}

/* ###### Light Mode ###### */
body.light_mode{
    background-color: var(--Color-1);
    color: var(--Color-1);

    button{
        background-color: var(--Color-1);
        color: var(--White);

        a{
            color: var(--White);
        }
    }
    button:hover{
        background-color: var(--Color-2);
    }
    button:focus{
        background-color: var(--White);
        border-color: var(--Color-1);
        color: var(--Color-1);

        a{
            color: var(--Color-1);
        }
    }
    nav{
        background-color: var(--Color-5);
    
        a{
            color: var(--Color-1);
        }
        span{
            color: var(--Color-1);
        }
        .dropdown_content{
            border-color: var(--Color-1);
            background-color: var(--Color-4);
        }
    }
    main{
        .candidatures_tables{
            background-color: var(--White);
            .fiches{
                border-color: var(--Black);
            }
        }
    }
    .modifier_candidature{
        color: var(--White);
        background-color: var(--Color-1);
        border-color: var(--Color-2);

        .selections{
            input{
                background-color: var(--White);
                color: var(--Color-1);
            }
            select{
                background-color: var(--White);
                color: var(--Color-1);
            }
        }
        button{
            background-color: var(--White);
            color: var(--Color-1);
        }
        button:hover{
            color: var(--Color-2);
        }
        button:focus{
            color: var(--Black);
            border-color: var(--Black);
        }
    }
    .voir_candidature{
        color: var(--White);
        background-color: var(--Color-1);
        border-color: var(--Color-2);

        .selections{
            input{
                background-color: var(--White);
                color: var(--Color-1);
            }
            select{
                background-color: var(--White);
                color: var(--Color-1);
            }
        }
        button{
            background-color: var(--White);
            color: var(--Color-1);
        }
        button:hover{
            color: var(--Color-2);
        }
        button:focus{
            border-color: var(--Black);
            color: var(--Black);
        }
    }
    footer{
        background-color: var(--White);
    }
}

/* ###### Dark Mode ###### */
body.dark_mode{
    background-color: var(--Black);
    color: var(--White);

    button{
        background-color: var(--White);
        color: var(--Color-1);

        a{
            color: var(--Color-1);
        }
    }
    button:hover{
        color: var(--Color-2);

        a{
            color: var(--Color-2);
        }
    }
    button:focus{
        background-color: var(--Color-1);
        border-color: var(--White);
        color: var(--White);

        a{
            color: var(--White);
        }
    }
    nav{
        background-color: var(--Color-1);

        a{
            color: var(--Color-4);
        }
        span{
            color: var(--Color-4);
        }
        .dropdown_content{
            border-color: var(--Color-4);
            background-color: var(--Color-1);
        }
    }
    main{
        .candidatures_tables{
            background-color: var(--Color-1);
            .fiches{
                border-color: var(--Color-2);
            }
        }
    }
    .modifier_candidature{
        background-color: var(--Color-2);
        border-color: var(--White);

        .selections{
            input{
                background-color: var(--White);
            }
            select{
                background-color: var(--White);
            }
        }
        button{
            background-color: var(--White);
        }
    }
    .voir_candidature{
        background-color: var(--Color-2);
        border-color: var(--White);

        .selections{
            input{
                background-color: var(--White);
            }
            select{
                background-color: var(--White);
            }
        }
        button{
            background-color: var(--White);
        }
        button:focus{
            color: var(--Black);
        }
    }
    footer{
        background-color: var(--Color-1);
    }
}


/* ###### Nav ###### */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: fixed;
    z-index: 50;
    box-shadow: 0 5px 10px #00000025;
    translate: 0 -150px;
    opacity: 0;
    transition: translate cubic-bezier(0, 0, 0, 1) 600ms, opacity cubic-bezier(0, 0, 0, 1) 600ms;

    h3{
        cursor: pointer;
        transition: color ease-out 300ms;
    }
    h3:hover{
        color: var(--Color-2);
    }
    .right{
        display: flex;
        gap: 16px;

        ion-icon{
            cursor: pointer;
            transition: color ease-out 300ms;
            font-size: 30px;
        }
        ion-icon:hover{
            color: var(--Color-2);
        }
    }
}

nav.view{
    translate: 0;
    opacity: 1;
}

/* ###### Main ###### */
main{
    padding: 110px 0 166px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .button_retour{
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        translate: 150px 0;
        transition: 500ms translate 1.2s ease, 500ms opacity 1.2s ease;
        
        ion-icon{
            transform: translateY(3px);
            transition: translate ease 300ms;
        }
    }
    .button_retour:hover{
        ion-icon{
            translate: 5px;
        }
    }
    .button_retour.view{
        opacity: 1;
        translate: 0;
    }
    .candidatures_tables{
        display: flex;
        justify-content: center;
        opacity: 0;
        translate: 250px 0;
        transition: 500ms translate 600ms ease, 500ms opacity 600ms ease;
        width: 100%;
        padding: 32px;
        flex-wrap: wrap;
        gap: 16px 32px;

        .fiches{
            padding: 16px;
            width: 100%;
            max-width: 550px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 16px;
            gap: 25px;
            border: 3px solid;
            cursor: pointer;
            transition: transform ease 500ms;

            .left{
                display: flex;
                align-items: center;
                gap: 16px;
                
                img{
                    width: 81px;
                    height: 81px;
                    border-radius: 50%;
                }
                .df{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    p:nth-child(3){
                        color: var(--Color-2);
                    }
                }
            }
            .right{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                ion-icon:hover{
                    color: var(--Color-2);
                }
            }
        }
        .fiches:hover{
            transform: translateY(-10px);
        }
        .button_container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 530px;
            height: 141px;
        }
    }
    .candidatures_tables.view{
        translate: 0;
        opacity: 1;
    }
}

/* ###### Modifier Candidatures ###### */
.modifier_candidature{
    position: fixed;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    box-shadow: 0 5px 10px #000;
    gap: 24px;
    backdrop-filter: blur(5px);
    border-radius: 16px;
    border: 5px solid;
    visibility: hidden;

    .icon_close{
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }
    .selections{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 16px;

        input{
            width: 100%;
            padding: 8px 24px;
            border: none;
            border-radius: 16px;
            outline: none;
        }
        select{
            width: 100%;
            padding: 8px 24px;
            border: none;
            border-radius: 16px;
            cursor: pointer;
        }
    }
    textarea{
        width: 100%;
        height: 96px;
        padding: 16px;
        border-radius: 8px;
        outline: none;
    }
}

/* ###### Voir Candidatures ###### */
.voir_candidature{
    position: fixed;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    box-shadow: 0 5px 10px #000;
    gap: 24px;
    backdrop-filter: blur(5px);
    border-radius: 16px;
    border: 5px solid;
    visibility: hidden;

    .icon_close{
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }
    .divs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
}

/* ###### Footer ###### */
footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 32px 0;

    .reseaux{
        display: flex;
        gap: 8px;

        ion-icon{
            font-size: 18px;
            cursor: pointer;
        }
    }
    .mention{
        display: flex;
        gap: 16px;
        
        h4{
            cursor: pointer;
        }
        h4:hover{
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 800px){
    
    /* ###### Body ###### */
    body{

        .header_1{
            font-size: var(--fs-39);
        }
        .header_2{
            font-size: var(--fs-34);
        }
        .header_3{
            font-size: var(--fs-28);
        }
        .header_4{
            font-size: var(--fs-20);
        }
        .paragraph_1{
            font-size: var(--fs-18);
        }
        .paragraph_2{
            font-size: var(--fs-14);
        }
        .caption{
            font-size: var(--fs-13);
        }
    }

    /* ###### Nav ###### */
    nav{
        padding: 16px 24px;
    }

    /* ###### Main ###### */
    main{
        padding: 115px 16px 166px 16px;

        .button_retour{
            align-self: flex-end;
        }
        .candidatures_tables{
            border-radius: 16px;

            .fiches{
                flex-direction: row;
                justify-content: start;
                justify-content: center;
                padding: 16px;

                button{
                    align-self: flex-end;
                }
                .right{
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 8px;

                    ion-icon{
                        align-self: flex-end;
                    }
                }
            }
        }
    }
    /* ###### Modifier candidature ###### */
    .modifier_candidature{
        padding: 24px;
        border-radius: 12px;
        z-index: 70;

        .selections{
            input{
                width: auto;
            }
            select{
                width: auto;
            }
        }
        textarea{
            width: 100%;
            height: 96px;
            padding: 16px;
            border-radius: 8px;
            outline: none;
        }
    }
    /* ###### Voir Candidatures ###### */
    .voir_candidature{
        z-index: 70;
        width: 500px;
    }
    /* ###### Footer ###### */
    footer{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 32px 24px;
        align-items: start;
    }
}

@media screen and (min-width: 1280px){
    
    /* ###### Body ###### */
    body{

        .header_1{
            font-size: var(--fs-48);
        }
        .header_2{
            font-size: var(--fs-40);
        }
        .header_3{
            font-size: var(--fs-32);
        }
        .header_4{
            font-size: var(--fs-24);
        }
        .paragraph_1{
            font-size: var(--fs-20);
        }
        .paragraph_2{
            font-size: var(--fs-16);
        }
        .caption{
            font-size: var(--fs-16);
        }
    }

    /* ###### Nav ###### */
    nav{
        padding: 16px 24px;
    }

    /* ###### Main ###### */
    main{
        padding: 115px 32px 166px 32px;
    }

    /* ###### Footer ###### */
    footer{
        padding: 32px;
    }
}